In [44]:
import datetime as datetime
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [45]:
df = pd.read_csv('dataset_v1')
df.head()

,building_id,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,land_surface_condition,foundation_type,...,has_secondary_use_hotel,has_secondary_use_rental,has_secondary_use_institution,has_secondary_use_school,has_secondary_use_industry,has_secondary_use_health_post,has_secondary_use_gov_office,has_secondary_use_use_police,has_secondary_use_other,damage_grade
0,802906,6,487,12198,2,30,6,5,t,r,...,False,False,False,False,False,False,False,False,False,3
1,28830,8,900,2812,2,10,8,7,o,r,...,False,False,False,False,False,False,False,False,False,2
2,94947,21,363,8973,2,10,5,5,t,r,...,False,False,False,False,False,False,False,False,False,3
3,590882,22,418,10694,2,10,6,5,t,r,...,False,False,False,False,False,False,False,False,False,2
4,201944,11,131,1488,3,30,8,9,t,r,...,False,False,False,False,False,False,False,False,False,3

In [46]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 260601 entries, 0 to 260600
Data columns (total 40 columns):
 #   Column                                  Non-Null Count   Dtype
---  ------                                  --------------   -----
 0   building_id                             260601 non-null  int64
 1   geo_level_1_id                          260601 non-null  int64
 2   geo_level_2_id                          260601 non-null  int64
 3   geo_level_3_id                          260601 non-null  int64
 4   count_floors_pre_eq                     260601 non-null  int64
 5   age                                     260601 non-null  int64
 6   area_percentage                         260601 non-null  int64
 7   height_percentage                       260601 non-null  int64
 8   land_surface_condition                  260601 non-null  object
 9   foundation_type                         260601 non-null  object
 10  roof_type                               260601 non-null  object
 11  ground_floor_type                       260601 non-null  object
 12  other_floor_type                        260601 non-null  object
 13  position                                260601 non-null  object
 14  plan_configuration                      260601 non-null  object
 15  has_superstructure_adobe_mud            260601 non-null  bool
 16  has_superstructure_mud_mortar_stone     260601 non-null  bool
 17  has_superstructure_stone_flag           260601 non-null  bool
 18  has_superstructure_cement_mortar_stone  260601 non-null  bool
 19  has_superstructure_mud_mortar_brick     260601 non-null  bool
 20  has_superstructure_cement_mortar_brick  260601 non-null  bool
 21  has_superstructure_timber               260601 non-null  bool
 22  has_superstructure_bamboo               260601 non-null  bool
 23  has_superstructure_rc_non_engineered    260601 non-null  bool
 24  has_superstructure_rc_engineered        260601 non-null  bool
 25  has_superstructure_other                260601 non-null  bool
 26  legal_ownership_status                  260601 non-null  object
 27  count_families                          260601 non-null  int64
 28  has_secondary_use                       260601 non-null  bool
 29  has_secondary_use_agriculture           260601 non-null  bool
 30  has_secondary_use_hotel                 260601 non-null  bool
 31  has_secondary_use_rental                260601 non-null  bool
 32  has_secondary_use_institution           260601 non-null  bool
 33  has_secondary_use_school                260601 non-null  bool
 34  has_secondary_use_industry              260601 non-null  bool
 35  has_secondary_use_health_post           260601 non-null  bool
 36  has_secondary_use_gov_office            260601 non-null  bool
 37  has_secondary_use_use_police            260601 non-null  bool
 38  has_secondary_use_other                 260601 non-null  bool
 39  damage_grade                            260601 non-null  int64
dtypes: bool(22), int64(10), object(8)
memory usage: 43.2+ MB

In [49]:
df['roof_type'].value_counts()

n    182842
q     61576
x     16183
Name: roof_type, dtype: int64

In [50]:
df['roof_type_C1'] = 0
df['roof_type_C0'] = 0
df['roof_type_C1'] = df['roof_type_C1'].astype('int64') 
df['roof_type_C0'] = df['roof_type_C0'].astype('int64')
df.head()

,building_id,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,land_surface_condition,foundation_type,...,has_secondary_use_institution,has_secondary_use_school,has_secondary_use_industry,has_secondary_use_health_post,has_secondary_use_gov_office,has_secondary_use_use_police,has_secondary_use_other,damage_grade,roof_type_C1,roof_type_C0
0,802906,6,487,12198,2,30,6,5,t,r,...,False,False,False,False,False,False,False,3,0,0
1,28830,8,900,2812,2,10,8,7,o,r,...,False,False,False,False,False,False,False,2,0,0
2,94947,21,363,8973,2,10,5,5,t,r,...,False,False,False,False,False,False,False,3,0,0
3,590882,22,418,10694,2,10,6,5,t,r,...,False,False,False,False,False,False,False,2,0,0
4,201944,11,131,1488,3,30,8,9,t,r,...,False,False,False,False,False,False,False,3,0,0

In [51]:
#land_surface_condition                  260601 non-null  object
#foundation_type                         260601 non-null  object
#roof_type                               260601 non-null  object
#ground_floor_type                       260601 non-null  object
#other_floor_type                        260601 non-null  object
#position                                260601 non-null  object
#plan_configuration                      260601 non-null  object
#legal_ownership_status                  260601 non-null  object

In [52]:
#roof_type 
# valor n= 01
# valor q= 10
# valor x= 11
def binarioRoofType_C0(valor):
    if ((valor == 'n') or (valor == 'x')):
        return 1;
    else: return 0;
    
def binarioRoofType_C1(valor):
    if ((valor == 'q') or (valor == 'x')):
        return 1;
    else: return 0;

In [53]:
df['roof_type_C1'] = df['roof_type'].apply(binarioRoofType_C1)
df['roof_type_C0'] = df['roof_type'].apply(binarioRoofType_C0)
df.head()

,building_id,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,land_surface_condition,foundation_type,...,has_secondary_use_institution,has_secondary_use_school,has_secondary_use_industry,has_secondary_use_health_post,has_secondary_use_gov_office,has_secondary_use_use_police,has_secondary_use_other,damage_grade,roof_type_C1,roof_type_C0
0,802906,6,487,12198,2,30,6,5,t,r,...,False,False,False,False,False,False,False,3,0,1
1,28830,8,900,2812,2,10,8,7,o,r,...,False,False,False,False,False,False,False,2,0,1
2,94947,21,363,8973,2,10,5,5,t,r,...,False,False,False,False,False,False,False,3,0,1
3,590882,22,418,10694,2,10,6,5,t,r,...,False,False,False,False,False,False,False,2,0,1
4,201944,11,131,1488,3,30,8,9,t,r,...,False,False,False,False,False,False,False,3,0,1

In [54]:
df[['roof_type','roof_type_C1','roof_type_C0']]

       roof_type  roof_type_C1  roof_type_C0
0              n             0             1
1              n             0             1
2              n             0             1
3              n             0             1
4              n             0             1
...          ...           ...           ...
260596         n             0             1
260597         n             0             1
260598         q             1             0
260599         x             1             1
260600         n             0             1

[260601 rows x 3 columns]

In [55]:
df['land_surface_condition'].value_counts()

t    216757
n     35528
o      8316
Name: land_surface_condition, dtype: int64

In [56]:
#land_surface_condition 
# valor t= 01
# valor n= 10
# valor o= 11
def binario_land_surface_condition_C0(valor):
    if ((valor == 't') or (valor == 'o')):
        return 1;
    else: return 0;
    
def binario_land_surface_condition_C1(valor):
    if ((valor == 'n') or (valor == 'o')):
        return 1;
    else: return 0;

In [57]:
df['land_surface_condition_C0'] =0
df['land_surface_condition_C1'] =0

In [58]:
df['land_surface_condition_C1'] = df['land_surface_condition'].apply(binario_land_surface_condition_C1)
df['land_surface_condition_C0'] = df['land_surface_condition'].apply(binario_land_surface_condition_C0)
df.head()

,building_id,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,land_surface_condition,foundation_type,...,has_secondary_use_industry,has_secondary_use_health_post,has_secondary_use_gov_office,has_secondary_use_use_police,has_secondary_use_other,damage_grade,roof_type_C1,roof_type_C0,land_surface_condition_C0,land_surface_condition_C1
0,802906,6,487,12198,2,30,6,5,t,r,...,False,False,False,False,False,3,0,1,1,0
1,28830,8,900,2812,2,10,8,7,o,r,...,False,False,False,False,False,2,0,1,1,1
2,94947,21,363,8973,2,10,5,5,t,r,...,False,False,False,False,False,3,0,1,1,0
3,590882,22,418,10694,2,10,6,5,t,r,...,False,False,False,False,False,2,0,1,1,0
4,201944,11,131,1488,3,30,8,9,t,r,...,False,False,False,False,False,3,0,1,1,0

In [59]:
df['foundation_type'].value_counts()

r    219196
w     15118
u     14260
i     10579
h      1448
Name: foundation_type, dtype: int64

In [60]:

#foundation_type 
# valor r= 001
# valor w= 010
# valor u= 011
# valor i= 100
# valor n= 101

def binario_foundation_type_C0(valor):
    if ((valor == 'r') or (valor == 'u') or (valor == 'n')):
        return 1;
    else: return 0;
    
def binario_foundation_type_C1(valor):
    if ((valor == 'w') or (valor == 'u')):
        return 1;
    else: return 0;

def binario_foundation_type_C2(valor):
    if ((valor == 'i') or (valor == 'n')):
        return 1;
    else: return 0;
    

df['foundation_type_C0'] =0
df['foundation_type_C1'] =0
df['foundation_type_C2'] =0

df['foundation_type_C0'] = df['foundation_type'].apply(binario_foundation_type_C0)
df['foundation_type_C1'] = df['foundation_type'].apply(binario_foundation_type_C1)
df['foundation_type_C2'] = df['foundation_type'].apply(binario_foundation_type_C2)
df.head()

,building_id,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,land_surface_condition,foundation_type,...,has_secondary_use_use_police,has_secondary_use_other,damage_grade,roof_type_C1,roof_type_C0,land_surface_condition_C0,land_surface_condition_C1,foundation_type_C0,foundation_type_C1,foundation_type_C2
0,802906,6,487,12198,2,30,6,5,t,r,...,False,False,3,0,1,1,0,1,0,0
1,28830,8,900,2812,2,10,8,7,o,r,...,False,False,2,0,1,1,1,1,0,0
2,94947,21,363,8973,2,10,5,5,t,r,...,False,False,3,0,1,1,0,1,0,0
3,590882,22,418,10694,2,10,6,5,t,r,...,False,False,2,0,1,1,0,1,0,0
4,201944,11,131,1488,3,30,8,9,t,r,...,False,False,3,0,1,1,0,1,0,0

In [61]:
df['ground_floor_type'].value_counts()

f    209619
x     24877
v     24593
z      1004
m       508
Name: ground_floor_type, dtype: int64

In [62]:
#ground_floor_type
# valor f= 001
# valor x= 010
# valor v= 011
# valor z= 100
# valor m= 101

def binario_ground_floor_type_C0(valor):
    if ((valor == 'f') or (valor == 'v') or (valor == 'm')):
        return 1;
    else: return 0;
    
def binario_ground_floor_type_C1(valor):
    if ((valor == 'x') or (valor == 'v')):
        return 1;
    else: return 0;

def binario_ground_floor_type_C2(valor):
    if ((valor == 'z') or (valor == 'm')):
        return 1;
    else: return 0;
    

df['ground_floor_type_C0'] =0
df['ground_floor_type_C1'] =0
df['ground_floor_type_C2'] =0

df['ground_floor_type_C0'] = df['ground_floor_type'].apply(binario_ground_floor_type_C0)
df['ground_floor_type_C1'] = df['ground_floor_type'].apply(binario_ground_floor_type_C1)
df['ground_floor_type_C2'] = df['ground_floor_type'].apply(binario_ground_floor_type_C2)
df.head()

,building_id,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,land_surface_condition,foundation_type,...,roof_type_C1,roof_type_C0,land_surface_condition_C0,land_surface_condition_C1,foundation_type_C0,foundation_type_C1,foundation_type_C2,ground_floor_type_C0,ground_floor_type_C1,ground_floor_type_C2
0,802906,6,487,12198,2,30,6,5,t,r,...,0,1,1,0,1,0,0,1,0,0
1,28830,8,900,2812,2,10,8,7,o,r,...,0,1,1,1,1,0,0,0,1,0
2,94947,21,363,8973,2,10,5,5,t,r,...,0,1,1,0,1,0,0,1,0,0
3,590882,22,418,10694,2,10,6,5,t,r,...,0,1,1,0,1,0,0,1,0,0
4,201944,11,131,1488,3,30,8,9,t,r,...,0,1,1,0,1,0,0,1,0,0

In [63]:
df["other_floor_type"].value_counts()

q    165282
x     43448
j     39843
s     12028
Name: other_floor_type, dtype: int64

In [64]:
#other_floor_type
# valor s= 001
# valor j= 010
# valor x= 011
# valor q= 100

def binario_other_floor_type_C0(valor):
    if ((valor == 's') or (valor == 'x')):
        return 1;
    else: return 0;
    
def binario_other_floor_type_C1(valor):
    if ((valor == 'j') or (valor == 'x')):
        return 1;
    else: return 0;

def binario_other_floor_type_C2(valor):
    if ((valor == 'q')):
        return 1;
    else: return 0;
    

df['other_floor_type_C0'] =0
df['other_floor_type_C1'] =0
df['other_floor_type_C2'] =0

df['other_floor_type_C0'] = df['other_floor_type'].apply(binario_other_floor_type_C0)
df['other_floor_type_C1'] = df['other_floor_type'].apply(binario_other_floor_type_C1)
df['other_floor_type_C2'] = df['other_floor_type'].apply(binario_other_floor_type_C2)
df.head()

,building_id,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,land_surface_condition,foundation_type,...,land_surface_condition_C1,foundation_type_C0,foundation_type_C1,foundation_type_C2,ground_floor_type_C0,ground_floor_type_C1,ground_floor_type_C2,other_floor_type_C0,other_floor_type_C1,other_floor_type_C2
0,802906,6,487,12198,2,30,6,5,t,r,...,0,1,0,0,1,0,0,0,0,1
1,28830,8,900,2812,2,10,8,7,o,r,...,1,1,0,0,0,1,0,0,0,1
2,94947,21,363,8973,2,10,5,5,t,r,...,0,1,0,0,1,0,0,1,1,0
3,590882,22,418,10694,2,10,6,5,t,r,...,0,1,0,0,1,0,0,1,1,0
4,201944,11,131,1488,3,30,8,9,t,r,...,0,1,0,0,1,0,0,1,1,0

In [65]:
df["position"].value_counts()

s    202090
t     42896
j     13282
o      2333
Name: position, dtype: int64

In [66]:
#position
# valor t= 001
# valor s= 010
# valor j= 011
# valor o= 100

def binario_position_C0(valor):
    if ((valor == 't') or (valor == 'j')):
        return 1;
    else: return 0;
    
def binario_position_C1(valor):
    if ((valor == 's') or (valor == 'j')):
        return 1;
    else: return 0;

def binario_position_C2(valor):
    if ((valor == 'o')):
        return 1;
    else: return 0;
    

df['position_C0'] =0
df['position_C1'] =0
df['position_C2'] =0

df['position_C0'] = df['position'].apply(binario_position_C0)
df['position_C1'] = df['position'].apply(binario_position_C1)
df['position_C2'] = df['position'].apply(binario_position_C2)
df.head()

,building_id,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,land_surface_condition,foundation_type,...,foundation_type_C2,ground_floor_type_C0,ground_floor_type_C1,ground_floor_type_C2,other_floor_type_C0,other_floor_type_C1,other_floor_type_C2,position_C0,position_C1,position_C2
0,802906,6,487,12198,2,30,6,5,t,r,...,0,1,0,0,0,0,1,1,0,0
1,28830,8,900,2812,2,10,8,7,o,r,...,0,0,1,0,0,0,1,0,1,0
2,94947,21,363,8973,2,10,5,5,t,r,...,0,1,0,0,1,1,0,1,0,0
3,590882,22,418,10694,2,10,6,5,t,r,...,0,1,0,0,1,1,0,0,1,0
4,201944,11,131,1488,3,30,8,9,t,r,...,0,1,0,0,1,1,0,0,1,0

In [67]:
df["plan_configuration"].value_counts()

d    250072
q      5692
u      3649
s       346
c       325
a       252
o       159
m        46
n        38
f        22
Name: plan_configuration, dtype: int64

In [68]:
#plan_configuration
# valor d= 0001
# valor q= 0010
# valor u= 0011
# valor s= 0100
# valor c= 0101
# valor a= 0110
# valor o= 0111
# valor m= 1000
# valor n= 1001
# valor f= 1010

def binario_plan_configuration_C0(valor):
    if ((valor == 'd') or (valor == 'u') or (valor == 'c') or (valor == 'o') or (valor == 'n')):
        return 1;
    else: return 0;
    
def binario_plan_configuration_C1(valor):
    if ((valor == 'q') or (valor == 'u') or (valor == 'a') or (valor == 'o') or (valor == 'f')):
        return 1;
    else: return 0;

def binario_plan_configuration_C2(valor):
    if ((valor == 's') or (valor == 'c') or (valor == 'a') or (valor == 'o')):
        return 1;
    else: return 0;
    
def binario_plan_configuration_C3(valor):
    if ((valor == 'm') or (valor == 'n') or (valor == 'f')):
        return 1;
    else: return 0;
    

df['plan_configuration_C0'] =0
df['plan_configuration_C1'] =0
df['plan_configuration_C2'] =0
df['plan_configuration_C3'] =0

df['plan_configuration_C0'] = df['plan_configuration'].apply(binario_plan_configuration_C0)
df['plan_configuration_C1'] = df['plan_configuration'].apply(binario_plan_configuration_C1)
df['plan_configuration_C2'] = df['plan_configuration'].apply(binario_plan_configuration_C2)
df['plan_configuration_C3'] = df['plan_configuration'].apply(binario_plan_configuration_C3)

df.head()

,building_id,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,land_surface_condition,foundation_type,...,other_floor_type_C0,other_floor_type_C1,other_floor_type_C2,position_C0,position_C1,position_C2,plan_configuration_C0,plan_configuration_C1,plan_configuration_C2,plan_configuration_C3
0,802906,6,487,12198,2,30,6,5,t,r,...,0,0,1,1,0,0,1,0,0,0
1,28830,8,900,2812,2,10,8,7,o,r,...,0,0,1,0,1,0,1,0,0,0
2,94947,21,363,8973,2,10,5,5,t,r,...,1,1,0,1,0,0,1,0,0,0
3,590882,22,418,10694,2,10,6,5,t,r,...,1,1,0,0,1,0,1,0,0,0
4,201944,11,131,1488,3,30,8,9,t,r,...,1,1,0,0,1,0,1,0,0,0

In [69]:
df["legal_ownership_status"].value_counts()

v    250939
a      5512
w      2677
r      1473
Name: legal_ownership_status, dtype: int64

In [70]:
#legal_ownership_status
# valor v= 001
# valor a= 010
# valor w= 011
# valor r= 100

def binario_legal_ownership_status_C0(valor):
    if ((valor == 'v') or (valor == 'w')):
        return 1;
    else: return 0;
    
def binario_legal_ownership_status_C1(valor):
    if ((valor == 'a') or (valor == 'w')):
        return 1;
    else: return 0;

def binario_legal_ownership_status_C2(valor):
    if ((valor == 'r')):
        return 1;
    else: return 0;
    

df['legal_ownership_status_C0'] =0
df['legal_ownership_status_C1'] =0
df['legal_ownership_status_C2'] =0

df['legal_ownership_status_C0'] = df['legal_ownership_status'].apply(binario_legal_ownership_status_C0)
df['legal_ownership_status_C1'] = df['legal_ownership_status'].apply(binario_legal_ownership_status_C1)
df['legal_ownership_status_C2'] = df['legal_ownership_status'].apply(binario_legal_ownership_status_C2)
df.head()

,building_id,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,land_surface_condition,foundation_type,...,position_C0,position_C1,position_C2,plan_configuration_C0,plan_configuration_C1,plan_configuration_C2,plan_configuration_C3,legal_ownership_status_C0,legal_ownership_status_C1,legal_ownership_status_C2
0,802906,6,487,12198,2,30,6,5,t,r,...,1,0,0,1,0,0,0,1,0,0
1,28830,8,900,2812,2,10,8,7,o,r,...,0,1,0,1,0,0,0,1,0,0
2,94947,21,363,8973,2,10,5,5,t,r,...,1,0,0,1,0,0,0,1,0,0
3,590882,22,418,10694,2,10,6,5,t,r,...,0,1,0,1,0,0,0,1,0,0
4,201944,11,131,1488,3,30,8,9,t,r,...,0,1,0,1,0,0,0,1,0,0

In [71]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 260601 entries, 0 to 260600
Data columns (total 63 columns):
 #   Column                                  Non-Null Count   Dtype
---  ------                                  --------------   -----
 0   building_id                             260601 non-null  int64
 1   geo_level_1_id                          260601 non-null  int64
 2   geo_level_2_id                          260601 non-null  int64
 3   geo_level_3_id                          260601 non-null  int64
 4   count_floors_pre_eq                     260601 non-null  int64
 5   age                                     260601 non-null  int64
 6   area_percentage                         260601 non-null  int64
 7   height_percentage                       260601 non-null  int64
 8   land_surface_condition                  260601 non-null  object
 9   foundation_type                         260601 non-null  object
 10  roof_type                               260601 non-null  object
 11  ground_floor_type                       260601 non-null  object
 12  other_floor_type                        260601 non-null  object
 13  position                                260601 non-null  object
 14  plan_configuration                      260601 non-null  object
 15  has_superstructure_adobe_mud            260601 non-null  bool
 16  has_superstructure_mud_mortar_stone     260601 non-null  bool
 17  has_superstructure_stone_flag           260601 non-null  bool
 18  has_superstructure_cement_mortar_stone  260601 non-null  bool
 19  has_superstructure_mud_mortar_brick     260601 non-null  bool
 20  has_superstructure_cement_mortar_brick  260601 non-null  bool
 21  has_superstructure_timber               260601 non-null  bool
 22  has_superstructure_bamboo               260601 non-null  bool
 23  has_superstructure_rc_non_engineered    260601 non-null  bool
 24  has_superstructure_rc_engineered        260601 non-null  bool
 25  has_superstructure_other                260601 non-null  bool
 26  legal_ownership_status                  260601 non-null  object
 27  count_families                          260601 non-null  int64
 28  has_secondary_use                       260601 non-null  bool
 29  has_secondary_use_agriculture           260601 non-null  bool
 30  has_secondary_use_hotel                 260601 non-null  bool
 31  has_secondary_use_rental                260601 non-null  bool
 32  has_secondary_use_institution           260601 non-null  bool
 33  has_secondary_use_school                260601 non-null  bool
 34  has_secondary_use_industry              260601 non-null  bool
 35  has_secondary_use_health_post           260601 non-null  bool
 36  has_secondary_use_gov_office            260601 non-null  bool
 37  has_secondary_use_use_police            260601 non-null  bool
 38  has_secondary_use_other                 260601 non-null  bool
 39  damage_grade                            260601 non-null  int64
 40  roof_type_C1                            260601 non-null  int64
 41  roof_type_C0                            260601 non-null  int64
 42  land_surface_condition_C0               260601 non-null  int64
 43  land_surface_condition_C1               260601 non-null  int64
 44  foundation_type_C0                      260601 non-null  int64
 45  foundation_type_C1                      260601 non-null  int64
 46  foundation_type_C2                      260601 non-null  int64
 47  ground_floor_type_C0                    260601 non-null  int64
 48  ground_floor_type_C1                    260601 non-null  int64
 49  ground_floor_type_C2                    260601 non-null  int64
 50  other_floor_type_C0                     260601 non-null  int64
 51  other_floor_type_C1                     260601 non-null  int64
 52  other_floor_type_C2                     260601 non-null  int64
 53  position_C0                             260601 non-null  int64
 54  position_C1                             260601 non-null  int64
 55  position_C2                             260601 non-null  int64
 56  plan_configuration_C0                   260601 non-null  int64
 57  plan_configuration_C1                   260601 non-null  int64
 58  plan_configuration_C2                   260601 non-null  int64
 59  plan_configuration_C3                   260601 non-null  int64
 60  legal_ownership_status_C0               260601 non-null  int64
 61  legal_ownership_status_C1               260601 non-null  int64
 62  legal_ownership_status_C2               260601 non-null  int64
dtypes: bool(22), int64(33), object(8)
memory usage: 89.0+ MB

In [83]:
#land_surface_condition                 
#foundation_type                        
#roof_type                              
#ground_floor_type                      
#other_floor_type                       
#position                                
#plan_configuration                      
#legal_ownership_status                 
df = df.drop(['land_surface_condition', 'foundation_type', 'roof_type','ground_floor_type','other_floor_type',\
         'position','plan_configuration','legal_ownership_status'], axis=1)
df.head()

,building_id,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,has_superstructure_adobe_mud,has_superstructure_mud_mortar_stone,...,position_C0,position_C1,position_C2,plan_configuration_C0,plan_configuration_C1,plan_configuration_C2,plan_configuration_C3,legal_ownership_status_C0,legal_ownership_status_C1,legal_ownership_status_C2
0,802906,6,487,12198,2,30,6,5,True,True,...,1,0,0,1,0,0,0,1,0,0
1,28830,8,900,2812,2,10,8,7,False,True,...,0,1,0,1,0,0,0,1,0,0
2,94947,21,363,8973,2,10,5,5,False,True,...,1,0,0,1,0,0,0,1,0,0
3,590882,22,418,10694,2,10,6,5,False,True,...,0,1,0,1,0,0,0,1,0,0
4,201944,11,131,1488,3,30,8,9,True,False,...,0,1,0,1,0,0,0,1,0,0

In [84]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 260601 entries, 0 to 260600
Data columns (total 55 columns):
 #   Column                                  Non-Null Count   Dtype
---  ------                                  --------------   -----
 0   building_id                             260601 non-null  int64
 1   geo_level_1_id                          260601 non-null  int64
 2   geo_level_2_id                          260601 non-null  int64
 3   geo_level_3_id                          260601 non-null  int64
 4   count_floors_pre_eq                     260601 non-null  int64
 5   age                                     260601 non-null  int64
 6   area_percentage                         260601 non-null  int64
 7   height_percentage                       260601 non-null  int64
 8   has_superstructure_adobe_mud            260601 non-null  bool
 9   has_superstructure_mud_mortar_stone     260601 non-null  bool
 10  has_superstructure_stone_flag           260601 non-null  bool
 11  has_superstructure_cement_mortar_stone  260601 non-null  bool
 12  has_superstructure_mud_mortar_brick     260601 non-null  bool
 13  has_superstructure_cement_mortar_brick  260601 non-null  bool
 14  has_superstructure_timber               260601 non-null  bool
 15  has_superstructure_bamboo               260601 non-null  bool
 16  has_superstructure_rc_non_engineered    260601 non-null  bool
 17  has_superstructure_rc_engineered        260601 non-null  bool
 18  has_superstructure_other                260601 non-null  bool
 19  count_families                          260601 non-null  int64
 20  has_secondary_use                       260601 non-null  bool
 21  has_secondary_use_agriculture           260601 non-null  bool
 22  has_secondary_use_hotel                 260601 non-null  bool
 23  has_secondary_use_rental                260601 non-null  bool
 24  has_secondary_use_institution           260601 non-null  bool
 25  has_secondary_use_school                260601 non-null  bool
 26  has_secondary_use_industry              260601 non-null  bool
 27  has_secondary_use_health_post           260601 non-null  bool
 28  has_secondary_use_gov_office            260601 non-null  bool
 29  has_secondary_use_use_police            260601 non-null  bool
 30  has_secondary_use_other                 260601 non-null  bool
 31  damage_grade                            260601 non-null  int64
 32  roof_type_C1                            260601 non-null  int64
 33  roof_type_C0                            260601 non-null  int64
 34  land_surface_condition_C0               260601 non-null  int64
 35  land_surface_condition_C1               260601 non-null  int64
 36  foundation_type_C0                      260601 non-null  int64
 37  foundation_type_C1                      260601 non-null  int64
 38  foundation_type_C2                      260601 non-null  int64
 39  ground_floor_type_C0                    260601 non-null  int64
 40  ground_floor_type_C1                    260601 non-null  int64
 41  ground_floor_type_C2                    260601 non-null  int64
 42  other_floor_type_C0                     260601 non-null  int64
 43  other_floor_type_C1                     260601 non-null  int64
 44  other_floor_type_C2                     260601 non-null  int64
 45  position_C0                             260601 non-null  int64
 46  position_C1                             260601 non-null  int64
 47  position_C2                             260601 non-null  int64
 48  plan_configuration_C0                   260601 non-null  int64
 49  plan_configuration_C1                   260601 non-null  int64
 50  plan_configuration_C2                   260601 non-null  int64
 51  plan_configuration_C3                   260601 non-null  int64
 52  legal_ownership_status_C0               260601 non-null  int64
 53  legal_ownership_status_C1               260601 non-null  int64
 54  legal_ownership_status_C2               260601 non-null  int64
dtypes: bool(22), int64(33)
memory usage: 83.1 MB